
.msg{
    padding: 5px;
    margin:5px;
    display:block;
}
.msg.me{
    text-align: right;
}
.msg.server{
    text-align: left;
}

.msg.me .wrap{
    background:green;
    color:white;
}

.msg.server .wrap{
    background:grey;
    color:white;
}

.msg .wrap{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}